<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>

		<services>
			<service name="Service.AstronomyService">
				<endpoint
					name="AstronomyTcp"
				  address="net.tcp://localhost:8090/Astronomy"
				  binding="netTcpBinding"
				  contract="Contracts.IAstronomyService" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

	<appSettings>
		<add key="IPGEO_URL" value="https://api.ipgeolocation.io"/>
	</appSettings>
</configuration>